body {
    font-family: Arial, sans-serif;
}

/* Heading styles */
h1, h2 {
    text-align: center;
}

p {
    text-align: center;
}

.main {
    margin: 100px auto 0 auto;
    max-width: 600px;
}

/* Top left container for the view high scores */
#view-high-scores {
    position: absolute;
    top: 10px;
    left: 10px;
}

/* Top Right container for the Timer*/
#timer-container {
position: absolute;
top: 10px;
right: 10px;
}

/* Styling for the Start Quiz button */
#start-button {
    margin: 0 auto;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    font-family: "Sans Serif";
    font-size: 100%;
    background-color: rgba(63, 63, 231, 0.87);
    border-radius: 5px;
    padding: 2px 10px;
    color: white;
    border: 0;
    transition: background-color 0.1s;
}

.answer-button {
    display: list-item;
    list-style: decimal inside none;
    /* flex-wrap: wrap; */
    background-color: rgba(52, 52, 163, 0.87);
    color: white;
    justify-content: center
}


#start-container, 
#game-over-container,
#high-scores-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#start-button:hover, 
.answer-button:hover {
    background-color: rgba(84, 84, 198, 0.776);
}

.answer-button {
    margin: 10px;
}

#high-scores-list {
    padding-left: 20px;
}

/* Stytling for the game over and high scores ontainer */
#game-over-container,
#high-scores-container {
    display: none;
    text-align: center;
}

#game-over-container input[type="text"],
#game-over-container button {
    margin-top: 10px;
}
